---
---
@import "portfolYOU";

h1{font-size:1.5em!important;margin-bottom:1.5rem!important}
h2{font-size:1.5em!important;line-height:1.5!important}
.card-title{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
